@font-face {
    font-family: 'Symphony CG';
    src: url("files/symphony.otf") format("opentype"); 
}

body {
    background: rgb(239,230,221);
    border-radius: 5px 5px 5px 5px;
}

.greenbg body {
    background: #7ebdc2;
    border-radius: 5px 5px 5px 5px;
}


h1 {
    margin-top: 0.25em;
    font-family: 'Symphony CG';
}


hr {
    border: 2.5px solid rgb(37,33,34);
    width: 60vw;
    border-radius: 5px 5px 5px 5px;
    margin-top: 0.5em;
}

nav {
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.toolbar {
    color: rgb(37,33,34);
    text-decoration: none;
    border-style: solid;
    border-color: rgb(187,68,48);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    margin-right: 0.5vw;
    text-align: center;
    padding: 0.5em;
}

.maincenter {
    display: flex;
    justify-content: center;
}

.borderimage {
    border: 5px solid rgb(187,68,48);
    border-radius: 10px 10px 10px 10px;
    height: 20vw;
}

.text {
    background: rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
    font-family: Verdana, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, sans-serif;
    margin-left: 10vw;
    margin-right:10vw;
}

.otherlogo {
    height: 20vh;
}

.toolbarcollumn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 20vh;
    width: 35vh;
}

.logonexttotool {
    display: flex;
    justify-content: center;
    height: 20vh;
    background: rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
}

#mainlogo {
    height: 20vw;
    width: auto;
    min-height: 160px;
    display: flex;
    justify-content: center;
    margin: 0.5em;
}

#mainimage {
    margin: 1em;
    width: 40%;
    min-width: 350px;
    height: auto;
}

.intextimage {
    width: 40vw;
    min-width: 250px;
    height: auto;
}


.logohover .logohovertext {
    font-family: 'Symphony CG';
    visibility: hidden;
    width: 150px;
    background-color: rgb(37,33,34);
    color: rgb(239,230,221);
    text-align: center;
    border-radius: 5px;
    padding: 0.5em;

    position: absolute;
    z-index: 1;
    bottom: 85%;
    left: 22.5%;
}

.logohover:hover .logohovertext {
    visibility: visible;
}

.inline {
    float: right;
    height: 10vh;
    width: auto;
}

#mainpageheader {
    background: rgb(255,255,255);
    border-radius: 10px 10px 10px 10px;
    padding: 0.5em;
}

.toolbar:hover {
    background-color: rgb(239,230,221);
}

.toolbar:active {
    background-color: rgb(113, 113, 113);
}

#garfieldpic {
    width: 50vw; 
    height: 30vh;
    margin: 2em;
}

#delokatiekaart {
    width: 50vw; 
    height: 30vh;
    margin: 2em;
}

footer {
    font-family: 'Symphony CG';
    text-align: center;
}